$body-bg-color = #f4f3ee;
$text-color = #354347;
$link-color = #297c70;
$link-hover-color = #155d53;
$font-family-chinese = "PingFang SC", "Microsoft YaHei", sans-serif;
$font-size-base = 16px;
$content-desktop = 800px;
